<%- include('header') %>
<div class="result">
    <% if (error) { %>
        <%= error %>
    <% } else { %>
        $<%= quantidade %> dólares
        na cotação R$<%= cotacao %> 
        é igual a <span>R$<%= conversao %> reais</span>
    <% } %>
</div>
<%- include('footer') %>